/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 *
 * Arducam Mega on SPIM22 (same pin map as applications/person_detection)
 * plus Axon NPU enable for Edge Impulse acceleration.
 */

&axon {
	status = "okay";
};

&pinctrl {
	spi22_default: spi22_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 4)>,
				<NRF_PSEL(SPIM_MISO, 1, 5)>,
				<NRF_PSEL(SPIM_MOSI, 1, 6)>;
			bias-pull-down;
		};
	};

	spi22_sleep: spi22_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 4)>,
				<NRF_PSEL(SPIM_MISO, 1, 5)>,
				<NRF_PSEL(SPIM_MOSI, 1, 6)>;
			bias-pull-down;
			low-power-enable;
		};
	};
};

&spi22 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi22_default>;
	pinctrl-1 = <&spi22_sleep>;
	pinctrl-names = "default", "sleep";
	overrun-character = <0x00>;
	zephyr,pm-device-runtime-auto;
	cs-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;

	arducam_mega: arducam-mega@0 {
		compatible = "arducam,mega";
		reg = <0>;
		spi-max-frequency = <8000000>;
		status = "okay";
	};
};
